<section id="portfolio" class="portfolio">
  <div class="portfolio__header">
    <span class="subtitulo">Portfólio</span>
    <h2 class="portfolio__h2">Alguns <em>trabalhos</em></h2>
    <p class="portfolio__desc">Galeria com tatuagens autorais e projetos personalizados.</p>
  </div>

  <div class="galeria">
    <mat-card class="tattoo-card tattoo-card--tall">
      <div class="tattoo-card__img-wrap">
        <img mat-card-image src="../../../assets/images/tatuagem-1.jpg" alt="Tatuagem 1">
        <div class="tattoo-card__overlay">
          <span class="tattoo-card__tag">Fine Line</span>
        </div>
      </div>
    </mat-card>

    <mat-card class="tattoo-card">
      <div class="tattoo-card__img-wrap">
        <img mat-card-image src="../../../assets/images/anna-keibalo-xXuzzebgVm0-unsplash.jpg" alt="Tatuagem 2">
        <div class="tattoo-card__overlay">
          <span class="tattoo-card__tag">Ornamental</span>
        </div>
      </div>
    </mat-card>

    <mat-card class="tattoo-card">
      <div class="tattoo-card__img-wrap">
        <img mat-card-image src="../../../assets/images/aykan-nakus-1GkrGVoFuWA-unsplash.jpg" alt="Tatuagem 3">
        <div class="tattoo-card__overlay">
          <span class="tattoo-card__tag">Blackwork</span>
        </div>
      </div>
    </mat-card>

    <mat-card class="tattoo-card tattoo-card--wide">
      <div class="tattoo-card__img-wrap">
        <img mat-card-image src="../../../assets/images/seyi-ariyo-LEjVES-wIIc-unsplash.jpg" alt="Tatuagem 4">
        <div class="tattoo-card__overlay">
          <span class="tattoo-card__tag">Autoral</span>
        </div>
      </div>
    </mat-card>

    <mat-card class="tattoo-card">
      <div class="tattoo-card__img-wrap">
        <img mat-card-image src="../../../assets/images/eduardo-vaccari-pIltvcnqsfU-unsplash.jpg" alt="Tatuagem 5">
        <div class="tattoo-card__overlay">
          <span class="tattoo-card__tag">Fine Line</span>
        </div>
      </div>
    </mat-card>

    <mat-card class="tattoo-card">
      <div class="tattoo-card__img-wrap">
        <img mat-card-image src="../../../assets/images/farshid-jhm-moghadam-03w2pewJYKg-unsplash.jpg" alt="Tatuagem 6">
        <div class="tattoo-card__overlay">
          <span class="tattoo-card__tag">Ornamental</span>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="portfolio__footer">
    <a class="portfolio__instagram"
       href="https://instagram.com/" target="_blank">
      Ver mais no Instagram ↗
    </a>
  </div>
</section>
